:root {
  --green-1: 80, 242, 5; /* #50f205; */
  --green-2: 124, 242, 5; /* #7cf205; */
  --green-3: 167, 242, 53; /* #a7f235; */
  --pink: 242, 181, 167; /* #f2b5a7; */
  --white: 242, 242, 242; /* #f2f2f2; */
}
