:root {
  --main-1: 80, 242, 5; /* #50f205; */
  --main-2: 124, 242, 5; /* #7cf205; */
  --main-3: 167, 242, 53; /* #a7f235; */
  --main-4: 242, 242, 242; /* #f2f2f2; */
  --pink: 242, 181, 167; /* #f2b5a7; */
  --team_introduction: 168, 191, 170; /* #A8BFAA */
  --team_member_name_color: 204, 219, 178;
  --team_member_background-1: 191, 148, 122; /* #BF947A */
  --team_member_background-2: 166, 101, 78;
  --team_member_background-3: 115, 42, 16;
  /* --team_member_background-3: 217, 61, 4; */
  --team_member_background-4: 166, 101, 78;
  --team_member_background-5: 191, 148, 122;
  --team_member_card_background: 95, 158, 160;
}
