@keyframes hiding_box_moving {
  0% {
    width: 1vmax;
    height: 15vmax;
    border-bottom: 0.5vw solid rgb(var(--pink));
  }
  20% {
    width: 65vmax;
    height: 15vmax;
    border-bottom: 0.5vw solid rgb(var(--pink));
  }
  50% {
    height: 1vmax;
    border-bottom: 0.2vw solid rgb(var(--pink));
  }
  60% {
    border-bottom: 0.1vw solid rgb(var(--pink));
  }
  100% {
    height: 0vmax;
    border-bottom: 0vw solid rgb(var(--pink));
  }
}

@media screen and (max-width: 1023px) {
  .loading {
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--white));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading_box {
    width: 65vmax;
    height: 15vmax;
    color: rgb(var(--white));
    font-size: 10vmax;
    font-family: 'Roboto', sans-serif;
  }

  .hiding_box {
    height: 15vmax;
    background-color: red;
    position: absolute;
    border-bottom: 0.5vw solid rgb(var(--pink));
  }

  .hiding_box_move {
    background-color: rgba(var(--white));
    position: absolute;
    border-bottom: 0.5vw solid rgb(var(--pink));
    animation: 5s hiding_box_moving;
  }
}
